:root {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 100vh;
    max-width: 100dvw;
}

.game-board {
    position: relative;
    display: grid;
    grid-template: repeat(3, minmax(100px, 33.33%)) / repeat(3, minmax(100px, 33.33%));
    aspect-ratio: 1/1;
    width: min(80vw, 80vh);
    max-width: 100vw;
    max-height: 100vh;
}

.cell {
    height: 100%;
    width: 100%;
    cursor: pointer;
    display: grid;
    place-items: center;
}

.mole {
    width: 60%;
    height: 60%;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: calc(100% / 3 * 2);
    padding: 20px;

    background-color: green;
    border-radius: 12px;
    z-index: 999;
}
